#headerdiv{
	display: flex;
	align-items: flex-end;
}

#charimg{
	max-width: 202px;
}

#headertextdiv{
	font-size: 32px;
	font-weight: bold;
	color: rgba(84, 66, 65,1);
	padding-left: 15px;
}

#rolldisplayer{
	background-color: rgba(209, 206, 184,.97);
	font-weight: bold !important;
	position:fixed !important;
    top: 2;          /* Aligns the top edge of the div with the top of the viewport */
    left: 2;         /* Aligns the left edge of the div with the left of the viewport */
    width: 65%;     /* Optional: you can set the width as needed */
    z-index: 1000;     /* Ensures the div stays on top of other content */
	  /* Initially visible */
    opacity: 1;
    /* Define the animation */
    animation: fadeOut 4s ease-in-out 6s forwards;
	font-size: 12px;
	padding-left: 5px;
	padding-top: 12px;
	border-radius:15px;
	white-space: pre-wrap
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.maindisplay{
	border-radius: 5px;
}

.tabselector{
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 1px;
  text-align: center;
  display: inline;
  align-items: center;  /* vertical centering */
  justify-content: center;  /* horizontal centering for block elements or items */
  position: relative;
  color: black;
  user-select: none; /* Prevents text from being selectable */
}

#charsheetheader{
	background-color: rgba(148, 140, 120, 0.35);
	user-select: none; /* Prevents text from being selectable */
}

#charsheetheader:hover{
	background-color: rgba(148, 140, 120, 0.55);
}

#equipmentheader{
	background-color: rgba(100, 255, 100, 0.2);
	display: flex !important;
	flex-direction: row !important;
	align-items: center !important;
	user-select: none; /* Prevents text from being selectable */
}

#equipmentheader:hover{
	background-color: rgba(100, 255, 100, 0.50);
}

#relationshipheader{
	background-color: rgba(191, 236, 242, 0.85);
	user-select: none; /* Prevents text from being selectable */
}

#relationshipheader:hover{
	background-color: rgba(191, 236, 242, 1);
}



#charactersheetbtn{
	background-color: rgba(148, 140, 120, 0.25) !important;
}

#charactersheetbtn:hover{
	background-color: rgba(148, 140, 120, 0.40) !important;
}

#equipmentbtn{
	background-color: rgba(100, 255, 100, 0.2);
}

#equipmentbtn:hover{
	background-color: rgba(100, 255, 100, 0.35) !important;
}

#relationshipsbtn{
	background-color: rgba(191, 236, 242, 1);
}

#relationshipsbtn:hover{
	background-color: rgba(177, 216, 222, 0.4) !important;
}

#editthischarbtn{
	background-color: rgba(250, 250, 195, .65);
	text-decoration: none;
}

#editthischarbtn:hover{
	background-color: rgba(250, 250, 195, 1);
}

.abilitybtn{
	background-color: rgba(227, 206, 150, 0.6);
	transition-duration: 0.4s;
	border: 2px solid rgba(97, 93, 81, 0.85);
	border-radius: 12px;
	font-size: 12px;
	color: black;
	margin-bottom:3px !important;
}

.abilitybtn:hover {
  background-color: rgba(63, 92, 110, 0.85) !important;
  color: white;
}

.skillbtn {
    background-color: rgba(227, 219, 195, 0.25);
    transition-duration: 0.4s;
    border: 2px solid rgba(97, 93, 81, 0.35);
    border-radius: 12px;
    font-size: 12px;
    color: black;
	margin-bottom: 3px;
}


.skillbtn:hover {
  background-color: rgba(182, 216, 227, 0.75) !important;
  color: black !important;
}

.charbtn{
	background-color: rgba(97, 93, 81, 0.85);
	color: white;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition-duration: 0.4s;
	border: 2px solid rgba(97, 93, 81, 0.35);
	border-radius: 12px;
	font-size: 12px;
	margin-bottom: 3px;
}

.charbtn:hover {
  background-color: rgba(69, 111, 163, 1) !important;
  color: white !important;
}

.parentalbtn{
	background-color: rgba(224, 171, 178, 1);
	color: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition-duration: 0.4s;
	border: 2px solid rgba(97, 93, 81, 0.35);
	border-radius: 12px;
	font-size: 12px;
	margin-bottom: 3px;
}

.parentalbtn:hover {
  background-color: rgba(176, 212, 201, 0.65) !important;
  color: black !important;
}

#frm_field_7807_container{
	background-color: rgba(231, 232, 211, 0.65);
}

table, th {
  border: none !important;
	 
}

td {
	border: none !important;
    padding: 0px 0px 0px 0px !important;
	
}

.spellprof{
	background-color: rgba(191, 210, 219,1);
	color: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition-duration: 0.4s;
	border: 2px solid rgba(97, 93, 81, 0.35);
	border-radius: 12px;
	font-size: 12px;
	margin-bottom: 3px;
	transition-duration: 0.4s;
}

.spellprof:hover{
	background-color: rgba(68, 88, 97,1) !important; 
	color: white;
}

button {
    padding: 8px 8px 8px 8px !important;
}

#addtrollmod{
	margin-top: 8px;
	padding: 5px 5px 5px 5px  !important;
}

.gearsection{
	margin-top: 5px; 
}

.equipment{
	font-size: 13px;
	background-color: rgba(184, 209, 184,.35) !important;
	color: black;
	border-radius: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	transition-duration: 0.4s;
	cursor: pointer; /* Changes cursor to indicate clickable element */
    user-select: none; /* Prevents text from being selectable */
}

.equipment:hover{
	background-color: rgba(184, 209, 184,.65) !important;
}

.trait{
	font-size: 13px;
	background-color: rgba(223, 207, 227,.35) !important;
	color: black;
	border-radius: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	transition-duration: 0.4s;
}

.trait:hover{
	background-color: rgba(223, 207, 227,.65) !important;	
}

.clickableheader {
    cursor: pointer; /* Changes cursor to indicate clickable element */
    user-select: none; /* Prevents text from being selectable */
	text-align: center; 
	background-color: rgba(85, 94, 84, 0.1); 
	margin-top: 15px; 
	margin-bottom: 12px;
	display:block;
	transition-duration: 0.4s;
	border: 3px solid #000000; 
	border-radius: 12px;
}

.clickableheader:hover {
    background-color: rgba(85, 94, 84, 0.25); 
}

#equipmentheader{
	display: flex;
	flex-direction: row;
	align-items:center;
}

#collapseallbtn{
	margin-left: 5px;
	background-color: rgba(51, 69, 56,1);
	color:white;
	font-weight:strong;
	font-size:8px;
	display: flex;       
    justify-content: center;
    align-items: center; 
}

.l2header{
	cursor: pointer; /* Changes cursor to indicate clickable element */
    user-select: none; /* Prevents text from being selectable */
	background-color: rgba(232, 231, 211, 0.65); 
	margin-top: 8px; 
	margin-bottom: 4px;
	display:block;
	transition-duration: 0.4s;
	border: 1px solid #000000;
	border-radius: 12px;
	padding-left: 5px;
}

.l2header:hover{
	background-color: rgba(232, 231, 211, 0.85);
}

.bookcat{
	display: flex;
    flex-direction: column;
	margin-bottom: 5px;
}

.bookrecord{
	background-color: rgba(232, 231, 211, 0.15);
	font-size: 13px;
	border-radius: 12px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 5px;
	transition-duration: 0.4s;
}

.bookrecord:hover{
	background-color: rgba(232, 231, 211, 0.25);
}

.spellentry{
	background-color: rgba(96, 117, 135, 0.05);
	font-size: 13px;
	border-radius: 12px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 5px;
	transition-duration: 0.4s;
}

.spellentry:hover{
	background-color: rgba(96, 117, 135, 0.15);
}

.knownspellsdiv{
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.infobtn{
	color: black;
	padding-left: 5px;
	transition-duration: 0.4s;
}

.infobtn:hover{
	color: rgba(119, 140, 143, 1);	
}

.pot{
	background-color: rgba(116, 79, 120, 0.15);
	font-size: 13px;
	border-radius: 12px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 5px;
	transition-duration: 0.4s;
	color: black;
}

.pot:hover{
	background-color: rgba(116, 79, 120, 0.35);	
}

.pet{
	font-size: 13px;
	background-color: rgba(222, 217, 182,.85) !important;
	color: black;
	border-radius: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	transition-duration: 0.4s;
	cursor: pointer; /* Changes cursor to indicate clickable element */
    user-select: none; /* Prevents text from being selectable */
}

.pet:hover{
	background-color: rgba(222, 217, 182,1) !important;
}

.inv-general{
	font-size: 13px;
	background-color: rgba(128, 119, 89, 1) !important;
	color: white;
	font-weight: strong;
	border-radius: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	transition-duration: 0.4s;
	cursor: pointer; /* Changes cursor to indicate clickable element */
    user-select: none; /* Prevents text from being selectable */
}

.inv-general:hover{
	background-color: rgba(128, 119, 89, .85) !important;
}

.inv-alchemy{
	font-size: 13px;
	background-color: rgba(110, 77, 72, 1) !important;
	color: white;
	font-weight: strong;
	border-radius: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	transition-duration: 0.4s;
	cursor: pointer; /* Changes cursor to indicate clickable element */
    user-select: none; /* Prevents text from being selectable */
}

.inv-alchemy:hover{
	background-color: rgba(110, 77, 72, .85) !important;
}

.inv-potion{
	font-size: 13px;
	background-color: rgba(94, 76, 99, 1) !important;
	color: white;
	font-weight: strong;
	border-radius: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	transition-duration: 0.4s;
	cursor: pointer; /* Changes cursor to indicate clickable element */
    user-select: none; /* Prevents text from being selectable */
}

.inv-potion:hover{
	background-color: rgba(94, 76, 99, .85) !important;
}

.inv-plant{
	font-size: 13px;
	background-color: rgba(88, 94, 81, 1) !important;
	color: white;
	font-weight: strong;
	border-radius: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	transition-duration: 0.4s;
	cursor: pointer; /* Changes cursor to indicate clickable element */
    user-select: none; /* Prevents text from being selectable */
}

.inv-plant:hover{
	background-color: rgba(88, 94, 81, .85) !important;
}

.inv-plantpart{
	font-size: 13px;
	background-color: rgba(63, 171, 21, .50) !important;
	color: black;
	font-weight: strong;
	border-radius: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	transition-duration: 0.4s;
	cursor: pointer; /* Changes cursor to indicate clickable element */
    user-select: none; /* Prevents text from being selectable */
}

.inv-plantpart:hover{
	background-color: rgba(63, 171, 21, .65) !important;
}

.inv-creature{
	font-size: 13px;
	background-color: rgba(82, 67, 58, 1) !important;
	color: white;
	font-weight: strong;
	border-radius: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	transition-duration: 0.4s;
	cursor: pointer; /* Changes cursor to indicate clickable element */
    user-select: none; /* Prevents text from being selectable */
}

.inv-creature:hover{
	background-color: rgba(82, 67, 58, .85) !important;
}

.inv-creaturepart{
	font-size: 13px;
	background-color: rgba(82, 67, 58, .1) !important;
	color: black;
	font-weight: strong;
	border-radius: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	transition-duration: 0.4s;
	cursor: pointer; /* Changes cursor to indicate clickable element */
    user-select: none; /* Prevents text from being selectable */
}

.inv-creaturepart:hover{
	background-color: rgba(82, 67, 58, .25) !important;
}

.inv-preparation{
	font-size: 13px;
	background-color: rgba(157, 184, 77, .1) !important;
	color: black;
	font-weight: strong;
	border-radius: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	transition-duration: 0.4s;
	cursor: pointer; /* Changes cursor to indicate clickable element */
    user-select: none; /* Prevents text from being selectable */
}

.inv-preparation:hover{
	background-color: rgba(157, 184, 77, .25) !important;
}

.inv-fooddrink{
	font-size: 13px;
	background-color: rgba(72, 112, 120, 1) !important;
	color: white;
	font-weight: strong;
	border-radius: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	transition-duration: 0.4s;
	cursor: pointer; /* Changes cursor to indicate clickable element */
    user-select: none; /* Prevents text from being selectable */
}

.inv-fooddrink:hover{
	background-color: rgba(72, 112, 120, .85) !important;
}

.rel{
	font-size: 13px;
	background-color: rgba(66, 68, 79, 1) !important;
	color: white;
	font-weight: strong;
	border-radius: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	transition-duration: 0.4s;
	cursor: pointer; /* Changes cursor to indicate clickable element */
    user-select: none; /* Prevents text from being selectable */
}

.rel:hover{
	background-color: rgba(66, 68, 79, 0.85) !important;
}	